# Data Science Tools and Examples

## Introduction
This notebook provides an overview of common data science tools, languages, and libraries. It also includes examples of basic arithmetic operations and conversions.

## Data Science Languages
- Python
- R
- SQL
- Julia
- Scala

## Data Science Libraries
- Pandas
- NumPy
- Matplotlib
- Scikit-learn
- TensorFlow

## Data Science Tools
| Tool        | Category          |
|-------------|-------------------|
| Jupyter     | Notebook          |
| RStudio     | IDE               |
| Apache Spark| Big Data          |
| TensorFlow  | Machine Learning  |
| Tableau     | Visualization     |

## Examples of Arithmetic Expressions
Below are examples of simple arithmetic operations such as addition and multiplication.

In [ ]:
# Multiply and add numbers
a = 5
b = 10
result = (a * b) + 20
print("Result:", result)

In [ ]:
# Convert minutes to hours
minutes = 150
hours = minutes / 60
print(f"{minutes} minutes is equal to {hours} hours")

## Objectives
- List popular languages for Data Science
- Identify common libraries and tools
- Demonstrate basic arithmetic operations
- Convert units using Python code

## Author
Manthan Virendrakumar Jani